.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.productList{
    flex: 4;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
    width: 100%;

}
.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;

}

.newProduct {
    flex: 4;
  }
  
  .addProductForm {
    margin-top: 10px;
    display: flex;
    gap:10px;
    flex-direction: column;

  }
  .addProductRow1{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .addProductRow2{
    display: flex;
    flex-direction: row;
    gap: 20px;

  }
  .addProductTitle{
    font-weight: 600;
    color: #0c105a;
  }
  .addProductItem {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    
  }
  
  .addProductItem > label {
    color: #667597;
    font-weight: 550;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
    width: 100%;
  }
  
  .addProductItem > select {
    padding: 10px;
  }
  .addProductItem input,textarea{
    border-radius: 20px;
    border: 1px solid #0c105a;
  }
  .addProductItem textarea{
    padding: 15px;
    width: 600px;
  }
  .addProductButton {
    margin-top: 2px;
    width: 150px;
    height: 45px;
    padding: 0px 10px;
    border: none;
    border-radius: 10px;
    background-color: #34349a;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  input[type="file"] {
    padding: 18px;
    border: 1px solid #000;
    border-style: dashed;
}
input::file-selector-button{
    background-color: #676bb6;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    color: #fff;
    border: none;
}
.productList button {
    background-color: #676bb6;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    color: #fff;
    border: none;
    width: 100%;

}